// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
//   }
  
//   body {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     background-color: #f0f0f0;
//   }

.hero-banner {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f0f0f0;
}
  
  .carousel-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;
    overflow: hidden;
    flex-direction: column;
    // background: url("../../../public/img/bg-banner.png") top center no-repeat;
  }
  
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .carousel-item {
    display: flex !important;
    padding: 10px;
    justify-content: center;
    transition: transform 0.5s ease;
  }
  
  .carousel-item img {
    max-width: 100%;
    transition: transform 0.5s ease;
  }
  
  .carousel-item:nth-child(even) .carousel-image-wrapper {
    padding-top: 70px;
  }
  
  .carousel-item:nth-child(odd) .carousel-image-wrapper {
    padding-top: 130px;
  }
  
  .carousel-item:nth-child(even) .carousel-image-wrapper,
  .carousel-item:nth-child(odd) .carousel-image-wrapper {
    width: 174px;
    height: 245px;
  }
  
  .carousel-item.slick-current .carousel-image-wrapper {
    width: 193px;
    height: 409px;
  }
  
  .carousel-item.slick-current .carousel-image-wrapper {
    padding-top: 0;
  }
  
  .carousel-item.slick-current {
    // background: url("../../../public/img/ico-device.png") top center no-repeat;
  }
  .carousel-item.slick-current img {
    margin-left: 9px;
  }
  
  .adjacent-left img,
  .adjacent-right img {
    padding-top: 80px;
  }
  
  /* Central Item (ampliado) */
  .slick-center .carousel-item img {
    transform: scale(1.5);
  }
  
  /* Navegação */
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 85%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
  }
  
  .slick-prev {
    left: 38%;
  }
  
  .slick-next {
    right: 38%;
  }
  
  .slick-list {
    padding: 0 !important;
  }
  
  .slick-arrow {
    width: 40px;
    height: 40px;
    background: #02d72f;
  }
  
  .slick-prev:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    // background: url("../../../public/img/ico-arrow.png") center center no-repeat;
    transform: rotate(180deg);
  }
  
  .slick-next:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    // background: url("../../../public/img/ico-arrow.png") center center no-repeat;
  }
  
  .slick-next:focus,
  .slick-next:hover,
  .slick-prev:focus,
  .slick-prev:hover {
    background: #02d72f;
  }
  
  .hero-title-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
  }
  
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 600px;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    z-index: 2;
    margin: auto;
  }
  
  .hero-title {
    margin: 0;
    align-self: stretch;
    position: relative;
    font-size: 48px;
    line-height: 55.2px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
  }
  
  .hero-title span {
    background: #fff110;
  }
  
  .hero-section {
    align-self: stretch;
    height: 180px;
    position: relative;
    max-width: 100%;
    margin-bottom: 40px;
  }
  
  .hero-subtitle {
    align-self: stretch;
    position: relative;
    line-height: 21.6px;
  }
  
  .hero-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    max-width: 100%;
  }
  
  .primary-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border: 0;
    padding: 13.5px 16px;
    background-color: #02d72f;
    border-radius: 100px;
    justify-content: center;
    position: relative;
    font-size: 14px;
    line-height: 150%;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #1b2126;
    text-align: left;
  }
  
  .button-content {
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .hero-subtitle {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    line-height: 21.6px;
    font-family: "Montserrat", sans-serif;
  }
  
  .secondary-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border: 1px solid #1b2126;
    padding: 12px 15px;
    background-color: transparent;
    border-radius: 100px;
    justify-content: center;
    gap: 8px;
    position: relative;
    font-size: 14px;
    line-height: 150%;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: #1b2126;
    text-align: left;
  }
  
  .primary-button:hover,
  .secondary-button:hover {
    color: #fff;
    background: #1b2126;
  }
  
  @media screen and (max-width: 750px) {
    .hero-title {
      font-size: 29px;
      line-height: 33px;
    }
  
    .hero-content {
      width: auto;
    }
  
    .hero-subtitle {
      font-size: 14px;
    }
  
    .carousel-item.slick-current {
      background: none;
    }
  
    .carousel-item.slick-current img {
      margin: 0;
    }
  
    .slick-dots {
      bottom: 80px;
    }
  
    .slick-dots li button:before {
      font-size: 12px;
    }
  
    .slick-dots li.slick-active button:before {
      color: #02d72f;
    }
  
    .slick-dots li button:before {
      color: #caf5c6;
      opacity: 9;
    }
  
    .carousel-item:nth-child(odd) .carousel-image-wrapper {
      padding-top: 90px;
    }
  
    .carousel-item.slick-current .carousel-image-wrapper {
      padding-top: 0;
    }
  
    .carousel-item:nth-child(even) .carousel-image-wrapper,
    .carousel-item:nth-child(odd) .carousel-image-wrapper {
      overflow: hidden;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
  