.hero-banner {
  @apply
    flex
    flex-col
    items-center
    justify-center
    h-full
    bg-[#f0f0f0];
}

.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 750px;
  overflow: hidden;
  flex-direction: column;
  background: url("../../../public/assets/images/bg-banner.png") top center no-repeat;
}

.hero-section {
  align-self: stretch;
  height: 180px;
  position: relative;
  max-width: 100%;
  margin-bottom: 40px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 600px;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  z-index: 2;
  margin: auto;

  @media screen and (max-width: 750px) {
    width: auto;
  }
}

.hero-title-wrapper {
  @apply
    flex
    flex-col
    text-center
    gap-2
    px-[18px];
}

.hero-subtitle {
  font-family: "Montserrat", sans-serif;

  @apply
    text-left
    md:text-center
    text-sm
    md:text-base
    leading-[21.6px];
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.slick-item {
  display: flex !important;
  padding: 10px;
  justify-content: center;
  transition: transform 0.5s ease;
}

.slick-item img {
  max-width: 100%;
  transition: transform 0.5s ease;
}

.slick-item:nth-child(even) .carousel-image-wrapper {
  padding-top: 70px;
}

.slick-item:nth-child(odd) .carousel-image-wrapper {
  padding-top: 130px;
}

.slick-item:nth-child(even) .carousel-image-wrapper,
.slick-item:nth-child(odd) .carousel-image-wrapper {
  width: 174px;
  height: 245px;
}

.slick-item.slick-current .carousel-image-wrapper {
  width: 193px;
  height: 409px;
}

.slick-item.slick-current .carousel-image-wrapper {
  padding-top: 0;
}

.slick-item.slick-current {
  // background: url("../../../public/img/ico-device.png") top center no-repeat;
}

.slick-item.slick-current img {
  margin-left: 9px;
}

.adjacent-left img,
.adjacent-right img {
  padding-top: 80px;
}

/* Central Item (ampliado) */
.slick-center .slick-item img {
  transform: scale(1.5);
}

/* Navegação */
.slick-prev,
.slick-next {
  position: absolute;
  top: 85%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.slick-prev {
  left: 38%;
}

.slick-next {
  right: 38%;
}

.slick-list {
  padding: 0 !important;
}

.slick-arrow {
  width: 40px;
  height: 40px;
  background: #02d72f;
}

.slick-prev:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  // background: url("../../../public/img/ico-arrow.png") center center no-repeat;
  transform: rotate(180deg);
}

.slick-next:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  // background: url("../../../public/img/ico-arrow.png") center center no-repeat;
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  background: #02d72f;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button-content {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.button-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 750px) {
  .slick-item.slick-current {
    background: none;
  }

  .slick-item.slick-current img {
    margin: 0;
  }

  .slick-dots {
    bottom: 80px;
  }

  .slick-dots li button:before {
    font-size: 12px;
  }

  .slick-dots li.slick-active button:before {
    color: #02d72f;
  }

  .slick-dots li button:before {
    color: #caf5c6;
    opacity: 9;
  }

  .slick-item:nth-child(odd) .carousel-image-wrapper {
    padding-top: 90px;
  }

  .slick-item.slick-current .carousel-image-wrapper {
    padding-top: 0;
  }

  .slick-item:nth-child(even) .carousel-image-wrapper,
  .slick-item:nth-child(odd) .carousel-image-wrapper {
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}