.contact-form {
    @apply
        container
        mx-auto
        px-[18px]
        md:px-0
        pt-[88px];

    &__wrapper {
        @apply
            flex
            flex-col
            md:flex-row
            bg-white
            overflow-hidden;
    }
  
    &__image {
      @apply
        md:w-1/2;
  
      img {
        @apply
            w-full
            h-full
            object-cover
            rounded-tr-[32px]
            md:rounded-tr-none
            md:rounded-bl-[48px];
      }
    }
  
    &__content {
      @apply
        md:w-1/2
        p-8
        bg-green-800
        text-white
        px-4
        md:px-20
        py-10
        bg-[#034d2e]
        rounded-bl-[32px]
        md:rounded-bl-none
        md:rounded-tr-[48px]
        flex-col
        justify-center
        items-center
        gap-6
        inline-flex;
  
      h2 {
        @apply text-2xl font-bold mb-6;
      }
  
      p {
        @apply mb-6;
      }
  
      form {
        @apply space-y-4;
  
        label {
          @apply block mb-1
          text-white text-sm font-semibold font-['Montserrat'];
        }
  
        input[type="text"],
        input[type="email"],
        input[type="tel"] {
          @apply
            w-full
            p-2
            rounded
            text-black
            h-[52px]
            bg-transparent
            px-4
            py-5
            rounded-lg
            border
            border-white
            justify-start
            items-center
            gap-2.5
            inline-flex
            text-white
            text-xs
            font-normal
            font-['Montserrat']
            leading-[14.40px]
            tracking-tight;
        }
  
        .consent-wrapper {
          @apply flex items-start;
  
        //   input[type="checkbox"] {
        //     @apply mr-2;
        //   }
  
        //   label {
        //     @apply
        //         text-white
        //         text-xs
        //         font-medium
        //         leading-[14.63px];
        //   }
        }
  
        button[type="submit"] {
          @apply
            w-full
            h-[52px]
            px-6
            py-[15px]
            bg-[#02d72f]
            rounded-[100px]
            justify-center
            items-center
            gap-2
            inline-flex
            text-black
            text-base
            font-semibold
            font-['Montserrat']
            leading-[19px]
            hover:bg-[#02d72f]/80
            transition
            duration-300;
        }
      }
    }
  }